/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.span-verde {
  color: #00eb84;
}

#div-inicio-beneficios {
  padding: 50px;
  background-color: #00171d;
}

#div-inicio-metodologia {
  background-color: #e5e5e5;
  padding: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

/* 02546c */
/* nav topo */
.topo {
  background-color: #00171d;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.content-topo {
  width: 70%;
  height: 60px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-topo {
  height: 50px;
  transition: transform 0.3s;
}

.logo-topo:hover {
  transform: scale(1.1);
}

.lista-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.lista-nav li {
  padding-left: 20px;
}

.lista-nav li a {
  color: #c1c1c1;
  font-size: 14px;
  text-decoration: none;
}

.lista-nav li a:hover {
  color: white;
}

.link-button-topo {
  padding: 10px 15px;
  background-color: #00eb84;
  color: #180a29 !important;
  border-radius: 20px;
  font-size: 10px !important;
  letter-spacing: 1.4px;
  font-weight: 700;
}

.link-button-topo:hover {
  border: 2px solid #00eb84;
  background-color: #00171d;
  color: white !important;
  padding: 8px 13px;
}

.link-button-topo-mobile {
  background-color: #180a29;
  color: white !important;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.div-menu {
  display: flex;
  align-items: center;
}

.lista-nav.active {
  display: block !important;
}

.container-nav-mobile {
  height: 300px;
  width: 200px;
  background-color: white;
  margin-top: 100px;
  border-radius: 35px 0 35px 35px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.container-nav-mobile ul {
  list-style: none;
}

.container-nav-mobile ul li {
  margin: 25px;
  text-align: center;
}

.container-nav-mobile ul li a {
  text-decoration: none;
}

.container-nav-mobile ul li a:hover {
  text-decoration: underline;
}

.container-nav-mobile {
  display: none;
  position: absolute;
  top: -10%;
  right: 15%;
}

.container-nav-mobile.active {
  display: block;
}

/* conteudo principal */

/* bg radial */
.container {
  height: 100vh;
  background: radial-gradient(circle,
      rgba(0, 82, 106, 1) 0%,
      rgba(0, 51, 66, 1) 52%,
      rgba(0, 30, 40, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-conteudo {
  width: 70%;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* container texto */
.container-texto {
  display: block;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.container-conteudo h1 {
  font-size: 48px;
  color: white;
  line-height: 60px;
}

.container-conteudo p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin: 20px 0;
}

.div-button {
  display: block;
  width: 300px;
}

.container-conteudo-link {
  background-color: #00eb84;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #180a29;
  padding: 16px 50px;
  border-radius: 35px;
  margin-top: 40px;
  text-decoration: none;
}

/* container video */
.container-video {
  width: 50%;
  position: relative;
}

.container-video .img-fundo {
  width: 100%;
}

.container-span {
  position: absolute;
  bottom: 120px;
  left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.texto-span-video {
  color: white;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80vw;
  height: 60vh;
}

.modal-content iframe {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: -40px;
  right: -10px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}


/* vantagens */

.container-vantagens {
  width: 100%;
  background-color: #00171d;
  height: 520px;

}

.content-vantagens {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: white;
}

.content-vantagens h2 {
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 30px;

}

.content-vantagens p {
  line-height: 30px;
  margin-bottom: 50px;
}

.container-cards-vantagens {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-vantagens {
  height: 330px;
  width: 200px;
  background-color: #00546c;
  border-radius: 15px;
  /* text-align: start;
  padding-left: 20px;
  padding-right: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  text-align: center;
}

.card-vantagens p {
  line-height: 20px;
  color: #00eb84;
  font-weight: 300;
}

.div-card-img {
  height: 200px;
  width: 200px;

}

.div-card-img img {
  width: 120px;
}

.div-line {
  border: 2px solid #00eb84;
  width: 50%;
  margin: 10px 0px 20px 0px;

}

.div-texto-card {
  height: 110px;
  width: 80%;
}

/* metodologia */

.container-metodologia {
  background-color: #e5e5e5;
  width: 100%;
  padding: 150px 0;
}

.content-metodologia {
  display: flex;
  width: 70%;
  gap: 70px;
  margin: 0 auto;
}

.div-video-metodologia {
  width: 50%;
}

.texto-metodologia {
  width: 50%;
}

.texto-metodologia h2 {
  font-size: 42px;
  font-weight: bold;
  color: #00546c;
  margin-bottom: 30px;
}

.texto-metodologia p {
  color: #00546c;
  margin-bottom: 60px;
}

.texto-metodologia a {
  background-color: #00eb84;
  color: #00171d;
  padding: 13px 50px;
  border-radius: 35px;
  text-decoration: none;
  margin-top: 40px;
}

/* rodape */

.rodape {
  height: 100px;
  background-color: #180a29;
}

/* media queries */

/* CSS para resolução maior que 932px */
@media screen and (min-width: 932px) {
  .container-nav-mobile {
    display: none;
  }

  .container-nav-mobile.active {
    display: none;
  }
}

/* CSS para resolução menor que 920px */


@media screen and (max-width: 1580px) {
  /* .container-video .img-fundo {
    width: 400px;
  } */

  .container-span {
    position: absolute;
    bottom: 90px;
    left: 80px;
    gap: 10px;
  }

  .container-span a img {
    width: 60px;
  }

  .texto-span-video {
    font-size: 14px;
  }
}

@media screen and (max-width: 1195px) {
  .container-conteudo h1 {
    font-size: 36px;
    color: white;
    line-height: 50px;
  }

  .container-conteudo p {
    font-size: 14px;
    line-height: 1.6;
    color: white;
    margin: 15px 0;
  }

  .container-conteudo-link {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .container-conteudo h1 {
    font-size: 28px;
    color: white;
    line-height: 40px;
  }
}

@media screen and (max-width: 931px) {

  .lista-nav {
    display: none !important;
    /* Ocultar o menu regular */
  }

  .menu-toggle {
    display: block;
    /* Mostrar o botão do menu hamburguer */
  }


  .topo {
    height: 60px;
  }

  .logo-topo {
    height: 30px !important;
  }

  .container-span {
    bottom: 0px;
    left: 0px;
    gap: 5px;
  }

  .texto-span-video {
    color: white;
    font-size: 16px;
  }

  .close {
    position: absolute;
    top: -15px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }

  .container-conteudo {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: center;
    width: 80%;
  }

  .container-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container-vantagens {
    height: 100%;
    padding-bottom: 100px;

  }

  .content-vantagens h2 {
    font-size: 28px;
  }

  .container-metodologia {
    padding: 100px 0 !important;
  }

  .content-metodologia {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .div-video-metodologia,
  .texto-metodologia {
    width: 100%;
  }
}

@media screen and (max-width: 616px) {
  .container-conteudo-link {
    font-size: 14px;
    padding: 13px 20px;
    width: 200px;
  }

  .div-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #div-inicio-beneficios {
    padding: 20px;
  }

}