/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minhaFonte";
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'minhaFonte';
  font-display: swap;
  src: url(../static/Nunito-Regular.woff2) format('woff2');
}

.span-verde {
  color: #00eb84;
}

/* Banner */

/* .banner{
  width: 100vw;
  height: 90vh;
  background-image: url("../assets/novos_modelos_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;

} */

.banner{
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem-banner{
  width: 100%; 
}

.texto-banner{
  width: 80%;
  color: white;
  text-align: center;
  margin-top: -100px;

}

/* Formulário */

.section-form{
  height: 400px;
  width: 100%;
  background-color: #19404c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-box{
  width: 90%;
  height: 320px;
  /* margin: 0 auto; */
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(32, 30, 30);
  height: 100%;
  border-radius: 8px;
}

.input-box{
  width: 80%;
}

.input-box label{
  color: #00eb84;
}

.input-field{
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #00eb84;
}

.input-field i{
  color: #00eb84;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(32, 30, 30) inset;
  caret-color: white !important;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.input-name,
.input-email,
.input-tel{

  height: 40px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;

}

.input-name:focus,
.input-email:focus,
.input-tel:focus{
  outline: none;
}

.button-submit{
  width: 50%;
  padding: 8px 0;
  background-color: #00eb84;
  border: none;
  border-radius: 8px;
}

/* Informações Reel */
/* .informacao-reel{
  
} */

@media (max-width: 320px){
  .texto-banner{
    font-size: 1rem;
  }
}
@media (max-width: 375px){

}
@media (max-width: 425px){

}
@media (max-width: 768px){

}
@media (max-width: 1024px){

}
@media (max-width: 1440px){

}
@media (min-width: 1441px){

}

