* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minhaFonte";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "minhaFonte";
  font-display: swap;
  src: url(../static/Nunito-Regular.woff2) format("woff2");
}

.span-azul {
  color: #3ecef1;
  font-weight: 600;
}

.container-agradecimento {
  width: 100%;
  background-color: #19404c;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.content-agradecimento {
  width: 90%;
  margin: 0 auto;
}

.content-agradecimento h1 {
  color: #3ecef1;
}

.content-agradecimento p {
  padding: 30px 0;
  font-size: 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escura */
  display: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#modal {
  position: fixed;
  bottom: -100%; /* Inicialmente fora da tela */
  left: 0;
  width: 100%;
  background-color: #19404c;
  border-radius: 8px 8px 0 0;
  z-index: 2;
  transition: bottom 0.5s ease;
}

#modal-content {
  padding: 10px 20px 40px 20px;
  border-radius: 12px 12px 0 0;
}

#close-modal {
  text-align: right;
}

.link-modal {
  text-decoration: none;
  background-color: #3ecef1;
  border-radius: 8px;
  padding: 10px 20px;
  color: #00171d;
}

.hidden {
  display: none;
}

#link-over-video {
  text-decoration: none;
  background-color: #3ecef1;
  border-radius: 8px;
  padding: 10px 20px;
  color: #00171d;
  display: none;
  width: 200px;
  margin: 30px auto;
}

/* rodape */
.rodape {
  padding: 50px 0 50px 0;
  background-color: #00171d;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.content-rodape {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.content-rodape a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.icone-social {
  height: 20px;
}

.links-rodape {
  display: flex;
  gap: 20px;
}

@media (min-width: 320px) {
  .content-rodape {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .content-rodape {
    flex-direction: row;
  }
}
