/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minhaFonte";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "minhaFonte";
  font-display: swap;
  src: url(../static/Nunito-Regular.woff2) format("woff2");
}

.span-verde {
  color: #00eb84;
}

.span-azul {
  color: #3ecef1;
}

/* Banner */

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #19404c;
}

.imagem-banner {
  width: 100%;
}

.texto-banner {
  width: 90%;
  color: white;
  text-align: center;
  margin-top: -100px;
}

/* Formulário */
.section-form {
  height: 480px;
  width: 100%;
  background-color: #19404c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-box {
  width: 90%;
  height: 400px;
  max-width: 600px;
  /* margin: 0 auto; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(32, 30, 30);
  height: 100%;
  border-radius: 8px;
}

.input-box {
  width: 80%;
}

.input-box label {
  color: #3ecef1;
}

.input-field {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #3ecef1;
}

.input-field i {
  color: #3ecef1;
  font-size: 20px;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(32, 30, 30) inset;
  caret-color: white !important;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.input-name,
.input-email,
.input-tel,
.input-insta {
  height: 40px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
}

.input-name:focus,
.input-email:focus,
.input-tel:focus,
.input-insta:focus {
  outline: none;
}

.button-submit {
  width: 50%;
  padding: 8px 0;
  background-color: #3ecef1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Reels */
.container-reel {
  background-color: #19404c;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}

/* texto reel */
.content-reel {
  width: 90%;
  color: white;
}

/* Listening */
.card-reel-listening {
  max-width: 600px;
  background-color: #2a3230;
  border: 1px solid #3ecef1;
  border-radius: 8px;
  width: 90%;
  padding: 40px 20px;
  /* text-align: justify; */
  color: white;
}

.card-reel-listening h2 {
  margin-bottom: 30px;
  color: #3ecef1;
  text-align: center;
}

.img-listening{
  width: 80%;
}

/* Reading */
.card-reel-reading {
  max-width: 600px;
  background-color: #496e90;
  border: 1px solid #3ecef1;
  border-radius: 8px;
  width: 90%;
  padding: 40px 20px;
  /* text-align: justify; */
  color: white;
}

.card-reel-reading h2 {
  margin-bottom: 30px;
  color: #3ecef1;
  text-align: center;
}

.img-reading{
  width: 80%;
}

/* Writing */
.card-reel-writing {
  max-width: 600px;
  background-color: #4b838d;
  border: 1px solid #3ecef1;
  border-radius: 8px;
  width: 90%;
  padding: 40px 20px;
  /* text-align: justify; */
  color: white;
}

.card-reel-writing h2 {
  margin-bottom: 30px;
  color: #3ecef1;
  text-align: center;
}

.img-writing{
  width: 80%;
}

/* Speaking */
.card-reel-speaking {
  max-width: 600px;
  background-color: #435160;
  border: 1px solid #3ecef1;
  border-radius: 8px;
  width: 90%;
  padding: 40px 20px;
  /* text-align: justify; */
  color: white;
}

.card-reel-speaking h2 {
  margin-bottom: 30px;
  color: #3ecef1;
  text-align: center;
}

.img-speaking{
  width: 80%;
}

/* botão */
.botao-garantir-vaga{
  background-color: #19404c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.link-botao{
  text-decoration: none;
  background-color: #3ecef1;
  color: black;
  border-radius: 8px;
  padding: 10px 25px;
  text-align: center;
  font-size: 14px;
}

/* rodape */
.rodape {
  padding: 50px 0 50px 0;
  background-color: #00171d;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.content-rodape {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.content-rodape a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.icone-social {
  height: 20px;
}

.links-rodape {
  display: flex;
  gap: 20px;
}

@media (min-width: 320px) {
  .content-rodape {
    flex-direction: column;
  }
}

@media (min-width: 425px) {
  .texto-banner h2 {
    font-size: 28px;
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .texto-banner h2 {
    font-size: 32px;
  }
  .content-rodape {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
  .texto-banner h2 {
    font-size: 50px;
  }
}
@media (min-width: 1441px) {
  .texto-banner h2 {
    font-size: 50px;
  }
}
